@media screen and (max-width: 1350px) {
    .menu-top li a {
        font-size: 18px;
        padding: 0 10px;
    }
}
@media screen and (max-width: 1300px) {
    .menu-top {
        display: none;
    }
    .btn-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29px;
        height: 22px;
        position: relative;
        margin-left: 20px;
        cursor: pointer;
    }

    .btn-menu span {
        display: flex;
        width: 100%;
        height: 4px;
        background: #541E17;
    }

    .btn-menu span::before,
    .btn-menu span::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background: #541E17;
        position: absolute;
        left: 0;
    }

    .btn-menu span::before {
        top: 0;
    }

    .btn-menu span::after {
        bottom: 0;
    }

}

@media screen and (max-width: 992px) {

}
@media screen and (max-width: 840px) {

}
@media screen and (max-width: 768px) {

}
